.hj
        {
            background-color: blue;
            border: none;
            color: white;
            font-size: 30px;
            height: 50px;
            width: 48px;
            border-radius: 10px;
        }
        .hj7
        {
            background-color: blue;
            border: none;
            color: white;
            font-size: 30px;
            height: 50px;
            width: 100px;
            border-radius: 10px;
        }
        #text{
            margin-top: -10px;
        }

        .hj:hover
        {
            border-radius: 10px;
            background-color: red;
            transition: 1.5s;
            border: none;
            color: blue;
            font-size: 20px;
            height: 35px;
            width: 39px;
        }
        #text1{
            margin-top: -10px;
        }
        .hj7:hover
        {
            border-radius: 10px;
            background-color: red;
            transition: 1.5s;
            border: none;
            color: blue;
            font-size: 20px;
            height: 35px;
            width: 89px;
        }
        .hj1
        {
            background-color: red;
            border: none;
            color: white;
            font-size: 30px;
            height: 50px;
            width: 48px;
            border-radius: 10px;
        }

        .hj1:hover
        {
            border-radius: 10px;
            background-color: blue;
            transition: 1.5s;
            border: none;
            color: red;
            font-size: 20px;
            height: 35px;
            width: 39px;
        }
        .texto
        {
            border-radius: 10px;
            color: blue;
            border-color: red;
            text-align: right;
            width: 319px;
            height: 40px;
            font-size: 25px;
        }
        body{
            background: linear-gradient(90deg, rgba(54,217,182,1) 0%, rgba(32,152,126,1) 43%, rgba(0,212,255,1) 100%);
          }
        #marq,#marq1 {
            color: red;
            font-size: 50px;
        }
        #tb
        {
            margin-top: -5%;
        }
        hr
        {
            border-color: blue;
        }
        .hj3{
            background-color: red;
            border: none;
            color: white;
            font-size: 30px;
            height: 50px;
            width: 55px;
            border-radius: 10px;
        }
        .hj3:hover{
            border-radius: 10px;
            background-color: blue;
            transition: 1.5s;
            border: none;
            color: red;
            font-size: 20px;
            height: 35px;
            width: 39px;
        }